.mathjax_process,
.mathjax-block,
.mathjax-inline,
.math,
span.math,
div.math {
overflow: visible !important;
}

mjx-container[display="inline"] {
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: visible !important;
    padding-right: 4px;
}





