.mathjax_process,
.mathjax-block,
.mathjax-inline,
.math,
span.math,
div.math {
overflow: visible !important;
}

mjx-container[display="inline"] {
    padding-top: 3px;
    padding-bottom: 2px;
    overflow: visible !important;
    padding-right: 3px;
}

.bd-sidenav .nav-link::before {
    content: "› ";
    color: #4a90e2;
    font-weight: bold;
}





